@model List<ExerciceASP.Models.Contact>

<h1>Liste des contacts</h1>
<ul>
    @foreach (var contact in Model)
    {
        <li>
            <a asp-action="Details" asp-route-name="@contact.Name">@contact.Name</a> - @contact.Email
        </li>
    }
</ul>
